<div class="row">
  <div class="col-sm-4">
    <div class="edit-profile-form">
      <div class="form-group">
        <input class="form-control" [(ngModel)]="user.auth.displayName">
      </div>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="user.auth.photoURL">
      </div>
      <div class="form-group">
        <input class="form-control" [(ngModel)]="user.auth.description">
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <img src={{user.auth.photoURL}} alt="profile Photo" class="img-responsive profile-photo">
    <h1>{{user.auth.displayName}}</h1>
    <p>
      {{user.auth.description}}
    </p>
    <button (click)="saveProfile()">SAVE PROFILE</button>
  </div>
</div>
<h1>{{(fbUser | async)?.displayName}}</h1>
