
<div class="col-sm-12 no-padding">
  <div class="">
    <input [(ngModel)]="filter" placeholder="Filter Records by Artist">
  </div>
  <div *ngFor="let record of records | record:filter" class="row record-row">
    <div class="col-sm-3 no-padding">
      <img src={{record.coverImg}} class="img-responsive no-padding" alt="album cover">
    </div>
    <div class="col-sm-9 record-info">
      <h1><span>Artist: </span> {{record.artist | uppercase}}</h1>
      <h2><span>Title: </span> {{record.title | uppercase}}</h2>
      <h4><span>Label: </span> {{record.label | uppercase}}</h4>
      <h5><span>Speed: </span> {{record.speed | uppercase}} RPM</h5>
      <p><span>Description: </span> {{record.description | uppercase}}</p>
      <p>This record is a part of <a (click)="memberDetailLink(getUserKey(record.uid))">{{getUser(record.uid)}}</a>'s Collection</p>
    </div>
    <div *ngIf="route==='/profile'" class="col-sm-12 no-padding">
      <h5 (click)="showEditRecord()">EDIT THIS RECORD</h5>
      <record-edit *ngIf="editRecord"
                  [record]="record"
                  (closeEdit)="hideEditRecord()"></record-edit>
    </div>

  </div>
</div>
