<div class="container profile-container">
  <div class="row">
    <div class="col-sm-4">
      <img src={{fbUser?.photoURL}} class="img-responsive" alt="">
    </div>
    <div class="col-sm-8 no-padding">
      <h1>{{fbUser?.displayName}}</h1>
      <p>{{fbUser?.description}}</p>
      <div *ngIf="userRecords?.length > 0 && showRecords" class="col-sm-12 no-padding my-records-container">
        <h1 class="mine">MY RECORDS</h1>
        <record-list [records]="userRecords"></record-list>
      </div>
    </div>
  </div>
</div>
