.nav-bar-container {
  a {
    color: black;
    &:hover {
      color: black;
      cursor: pointer;
    }
  }
  ul {
    position: relative;
    top: 15px;
    display: inline-block;
    float: right;
    li {
      display: inline-block;
      margin: 25px 0 25px 40px;
      a {
        font-weight: bold;
      }
    }
    .x-icon {
      height: 15px;
      position: relative;
      right: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.logo {
  padding: 0;
  a {
    border-bottom: 2px solid black;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
      color: black;
    }
  }
}

.nav-list {
  padding: 0;
}

input {
  height: 25px;
  margin-left: 15px;
  border: 0;
  border-bottom: 2px solid black;
  outline: none;
  display: inline-block;
  &::-webkit-input-placeholder {
    color: black;
  }
}
