.shout {
  padding: 0;
  background-color: rgba(0,0,0, .95);
  transition: .3s;
  &:hover {
    cursor: pointer;
    animation-name: shake;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    box-shadow: 0px 0px 1px 1px;
    h5 {
      font-size: 3.025rem;
      transition: .25s;
    }
    h1 {
      font-size: 5.025rem;
      transition: .25s;
    }
  }

  h1 {
    margin-top: 0;
    padding: 50px;
    text-align: left;;
    font-size: 5rem;
    color: white;

  }
  h5 {
    color: white;
    padding: 25px 0 25px 50px;
    font-size: 3rem;
    display: inline-block;
    border-bottom: 2px solid white;
    margin-bottom: 0;
  }
}

.call-to-action {
  position: relative;
  top: -125px;
  background-color: rgba(227,190,66, .95);
  transition: .3s;
  &:hover {
    cursor: pointer;
    animation-name: shake;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    // box-shadow: 0px 0px .5px .5px;
    h5 {
      font-size: 3.025rem;
      transition: .25s;
    }
    h1 {
      font-size: 5.025rem;
      transition: .25s;
    }
  }
  h1 {
    margin-top: 0;
    padding: 50px;
    text-align: left;;
    font-size: 5rem;
    color: white;

  }
  h5 {
    color: white;
    padding: 25px 0 25px 50px;
    font-size: 3rem;
    display: inline-block;
    border-bottom: 2px solid white;
    margin-bottom: 0;
  }
}

.list {
  padding: 0;
  margin: 0;
  border-radius: 500px;
}

.record-spin {
  max-height: 550px;
  max-width: 100%;
  position: relative;
  top: 50px;
  left: 100px;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.record-spin2 {
  max-height: 550px;
  max-width: 100%;
  position: relative;
  top: 50px;
  right: 100px;
  z-index: -1;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg)}
  100% { transform: rotate(360deg)}
}


@keyframes shake {
  0% { opacity: 1; }
  10% { opacity: .99 }
  25% { opacity: .98 }
  50% { opacity: .97; }
  75% { opacity: .98 }
  90% { opacity: .99 }
  100% { opacity: 1 }
}
