<div class="container">
  <div class="row">
    <div class="col-sm-6 list">
      <img class="img-responsive record-spin" src="../../assets/images/record.png" alt="">
    </div>
    <div class="col-sm-6 shout">
      <h5>RECORD club</h5>
      <h1>Post your recent finds and other nerdy things about records.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 call-to-action no-padding">
      <h5>Sign in with GitHub</h5>
      <h1>Create an account to start sharing your record collection with us today!</h1>
    </div>
    <div class="col-sm-6">
      <img class="img-responsive record-spin2" src="../../assets/images/record.png" alt="">
    </div>
  </div>
</div>
